.navbar{
    margin-top: 50px;
    background-color: #919191 !important;
    color: white !important; 
}

.form-group .form-control {
    padding-left: 2.375rem;
}

.form-group .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}